/* Kanji */
.row.kanji {
    display: block;
}

.kanji_block {
    border: 0.1px solid;
    border-radius: 5px;
    padding: 12px;
    /* flex: auto; */
    flex-direction: row;
    box-shadow: 1px 1px 5px rgb(65, 121, 140);
}

.kanji_contain {
    border: 1px solid;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
    font-size: 35px;
    font-weight: bold;
    background-color: #F5F5F5;
}

.form-control {
    height: 35px;
    margin-top: 10px;
    border-radius: 5px;
}

.kanji_result_contain {
    margin-top: 7px;
    font-size: 15px;
}

.result-english {
    height: 8vh;
    text-align: left;
}

.note-romaji {
    padding-top: 2px;
    font-size: 100%;
}

.note-english {
    text-align: left;
    font-size: 100%;
}