/* Kanji Block*/

h1 {
    text-align: center;
}

#kanji_div {
    padding-left: 1%;
    padding-right: 1%;
}

#kanji_header {
    /* background-color: rgb(86, 198, 217); */
    padding-top: 1vh;
    min-height: 16vh;
    color: black;
    position: -webkit-sticky;
    position: sticky;
    z-index: 1020;
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid;
    border-color: rgb(0, 0, 0);
    box-shadow: 5px 5px 5px lightblue;
}

#kanji_area {
    margin-top: auto;
    padding-top: 5px;
    padding-left: 2%;
    padding-right: 2%;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 65vh;
}

.guide-area{
    margin-top: 5px;
    margin-bottom: 5px;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    /* font-size: calc(1px + 2vmin); */
}

.guide-button{
    align-items: left;
}

.guide-details{
    position: absolute;
    top: 30%;
    left: 19%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 100px;
    text-align: center;
    background-color: transparent;
    box-sizing: border-box;
    padding: 10px;
    z-index: 100;
    border-radius: 10px;
    border: 1px solid lightblue;
    box-shadow: 5px 5px 5px lightblue;
}

.guide-icon{
    border: 1px solid black;
    vertical-align: middle;
    border-radius: 5px;
    box-shadow: 1px 1px 1px;
    padding: 3px;
}

.guide-text{
    vertical-align: middle;
    border-left: 1px solid none;
    padding-left: 10px;
    color: darkblue;
}

.btn {
    text-align: center;
    vertical-align: middle;
    align-items: center;
    min-height: 35px;
    border-radius: 30px;
    border: 1px solid;
    border-color: rgb(0, 0, 0);
    box-shadow: 5px 5px 5px lightblue;
}

.btn-info{
    text-align: center;
    vertical-align: middle;
    align-items: center;
    min-height: 25px;
    border-radius: 100%;
    border: 5px solid darkblue;
    border-color: rgb(0, 0, 0);
    box-shadow: 5px 1px 5px lightblue;
}

.button-fields {
    margin-top: 2px;
    padding: 2vh;
    align-items: center;
    vertical-align: middle;
}

.button-fields button {
    align-items: center;
    vertical-align: middle;
}

.button-fields div {
    align-items: center;
    vertical-align: middle;
}

.load-data-criteria {
    align-items: center;
    vertical-align: middle;
}

.load-data-criteria.no-of-words {
    display: flex;
    flex-direction: row;
}

.load-data-criteria input {
    margin-left: 15px;
    width: 35%;
    min-height: 35px;
    min-width: 50px;
    border-radius: 6px;
    border: 0.3px solid;
    border-color: rgb(0, 0, 0);
    box-shadow: 5px 5px 5px lightblue;
}

.load-data-criteria select {
    margin-left: 15px;
    width: 30%;
    min-height: 35px;
    min-width: 50px;
    border-radius: 6px;
    border: 0.3px solid;
    border-color: rgb(0, 0, 0);
    box-shadow: 5px 5px 5px lightblue;
}

.test-result {
    text-align: right;
}

.test-count {
    text-align: left;
}