/* Kanji Block*/

h1 {
    text-align: center;
}

#kanji_div {
    padding-left: 1%;
    padding-right: 1%;
}

#kanji_header {
    /* background-color: rgb(86, 198, 217); */
    padding-top: 1vh;
    min-height: 16vh;
    color: black;
    position: -webkit-sticky;
    position: sticky;
    z-index: 1020;
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid;
    border-color: rgb(0, 0, 0);
    box-shadow: 5px 5px 5px lightblue;
}

#kanji_area {
    margin-top: auto;
    padding-top: 5px;
    padding-left: 2%;
    padding-right: 2%;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 65vh;
}

.btn {
    text-align: center;
    vertical-align: middle;
    align-items: center;
}

.button-fields {
    margin-top: 1vh;
    padding: 2vh;
    align-items: center;
    vertical-align: middle;
}

.button-fields div {
    align-items: center;
    vertical-align: middle;
}


.load-data-criteria {
    align-items: center;
    vertical-align: middle;
}

.load-data-criteria.no-of-words {
    display: flex;
    flex-direction: row;
}

.load-data-criteria input {
    margin-left: 15px;
    width: 35%;
    min-height: 35px;
    min-width: 50px;
    border-radius: 10px;
    border: 0.3px solid;
}

.load-data-criteria select {
    margin-left: 15px;
    width: 30%;
    min-height: 35px;
    min-width: 50px;
    border-radius: 10px;
}

.test-result {
    text-align: right;
}

.test-count {
    text-align: left;
}