/* Kanji Block*/

h1 {
    text-align: center;
}

#kanji_header {
    background-color: #282c34;
    padding-top: 1vh;
    min-height: 16vh;
    color: white;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
    overflow: hidden;
    top: 0;
    width: 100%;
}

#kanji_area {
    margin-top: auto;
    /* padding-top: 60px; */
}

.btn {
    text-align: center;
    vertical-align: middle;
    align-items: center;
}

.button-fields {
    margin-top: 1vh;
    padding: 2vh;
    align-items: center;
    vertical-align: middle;
}

.button-fields input {
    margin-left: 50%;
    margin-bottom: 1.5vh;
    width: 60%;
    min-height: fit-content;
}

.test-result {
    text-align: right;
}

.test-count {
    text-align: left;
}